<div class="flex flex-col gap-2 py-6 max-w-screen-2xl m-auto w-full px-3 sm:px-8 lg:px-16 xl:px-32">
    <div class="mb-6 flex w-full flex-col-reverse gap-12 lg:mb-24 lg:flex-row lg:gap-24">
      <div class="grid grow grid-cols-1 gap-12 text-center md:grid-cols-2 md:justify-items-center lg:grid-cols-3 lg:text-start 2xl:gap-24 min-[1800px]:grid-cols-4">
        <div class="flex flex-col">
          <p class="mb-4 text-sm font-semibold leading-tight text-blue-950">Column</p>
          <div class="flex flex-col gap-4">
            <a href="/" class="text-sm leading-tight text-slate-500">Footer Link</a>
            <a href="/" class="text-sm leading-tight text-slate-500">Footer Link</a>
            <a href="/" class="text-sm leading-tight text-slate-500">Footer Link</a>
            <a href="/" class="text-sm leading-tight text-slate-500">Footer Link</a>
          </div>
        </div>
        <div class="flex flex-col">
          <p class="mb-4 text-sm font-semibold leading-tight text-blue-950">Column</p>
          <div class="flex flex-col gap-4">
            <a href="/" class="text-sm leading-tight text-slate-500">Footer Link</a>
            <a href="/" class="text-sm leading-tight text-slate-500">Footer Link</a>
            <a href="/" class="text-sm leading-tight text-slate-500">Footer Link</a>
            <a href="/" class="text-sm leading-tight text-slate-500">Footer Link</a>
          </div>
        </div>
        <div class="flex flex-col">
          <p class="mb-4 text-sm font-semibold leading-tight text-blue-950">Column</p>
          <div class="flex flex-col gap-4">
            <a href="/" class="text-sm leading-tight text-slate-500">Footer Link</a>
            <a href="/" class="text-sm leading-tight text-slate-500">Footer Link</a>
            <a href="/" class="text-sm leading-tight text-slate-500">Footer Link</a>
            <a href="/" class="text-sm leading-tight text-slate-500">Footer Link</a>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center gap-4 text-center lg:items-start lg:text-left">
        <p class="font-semibold leading-normal text-black">Receive latest news</p>
        <form class="flex w-full flex-col items-start gap-2 min-[432px]:w-auto min-[432px]:min-w-[400px] min-[432px]:flex-row">
          <div class="inline-flex w-full flex-col items-start gap-1.5 stroke-black transition-colors duration-300 ease-in-out focus-within:stroke-blue-700">
            <div class="relative w-full">
              <input
                class="mb-0.5 w-full rounded-lg border border-slate-200 px-3 text-sm font-medium placeholder-slate-400 outline-none transition-all duration-300 ease-in-out disabled:cursor-not-allowed disabled:bg-slate-50 disabled:text-slate-400 disabled:placeholder-slate-400focus:border-blue-600 py-2.5"
                id="email" placeholder="Enter your e-mail address*" required="" aria-disabled="false" type="email">
            </div>
          </div>
          <button type="submit"
            class="group inline-flex items-center justify-center whitespace-nowrap rounded-lg py-2 align-middle text-sm font-semibold leading-none transition-all duration-300 ease-in-out disabled:cursor-not-allowed bg-blue-700 stroke-white text-white hover:bg-blue-950 h-[42px] gap-2 disabled:bg-slate-100 disabled:stroke-slate-400 disabled:text-slate-400 disabled:hover:bg-slate-100 px-4 w-full min-w-fit min-[432px]:w-auto">
            <span>Get Started</span>
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" stroke="#1D4ED8" xmlns="http://www.w3.org/2000/svg" class="stroke-inherit">
              <g clip-path="url(#clip0_4036_225)">
                <path d="M13 8.3335L9.66667 11.6668L14.6667 16.6668L18 3.3335L3 9.16683L6.33333 10.8335L8 15.8335L10.5 12.5002" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
              <defs>
                <clipPath id="clip0_4036_225">
                  <rect width="20" height="20" fill="white" transform="translate(0.5)"></rect>
                </clipPath>
              </defs>
            </svg>
          </button>
        </form>
        <p class="max-w-xs text-sm leading-tight text-slate-500">*by entering your e-mail address you confirming that you're agree to subscribe to our newsletter.</p>
      </div>
    </div>
    <div role="separator" class="bg-slate-300 my-4 w-full h-[1px] hidden lg:block"></div>
    <div class="flex w-full flex-col-reverse items-center gap-6 text-center lg:flex-row lg:items-center lg:gap-0 lg:text-left">
      <div class="m-auto lg:w-full">
        <!-- Footer Logo -->
      </div>
      <div role="separator" class="bg-slate-300 w-full h-[1px] my-2 lg:hidden"></div>
      <div class="flex gap-8">
        <a type="button" href="https://www.facebook.com"
          class="group inline-flex items-center justify-center whitespace-nowrap align-middle font-semibold transition-all duration-300 ease-in-out disabled:cursor-not-allowed stroke-blue-700 text-blue-700 cursor-pointer p-0 disabled:stroke-slate-400 disabled:text-slate-400 hover:stroke-blue-950 hover:text-blue-950 h-6 min-w-[24px] gap-1.5 rounded-md text-xs"
          aria-label="facebook">
          <span>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_4519_3773)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.99999 1.66666C5.39761 1.66666 1.66666 5.42041 1.66666 10.0509C1.66666 14.2357 4.71404 17.7043 8.69791 18.3333V12.4745H6.58202V10.0509H8.69791V8.20376C8.69791 6.10246 9.94199 4.94176 11.8455 4.94176C12.7572 4.94176 13.7109 5.10551 13.7109 5.10551V7.16883H12.6601C11.6249 7.16883 11.3021 7.81512 11.3021 8.47816V10.0509H13.6132L13.2438 12.4745H11.3021V18.3333C15.2859 17.7043 18.3333 14.2357 18.3333 10.0509C18.3333 5.42041 14.6024 1.66666 9.99999 1.66666Z"
                  stroke="#1D4ED8" stroke-width="1.5" stroke-linejoin="round"></path>
              </g>
              <defs>
                <clipPath id="clip0_4519_3773">
                  <rect width="20" height="20" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </span>
        </a>
        <a type="button" href="https://www.instagram.com"
          class="group inline-flex items-center justify-center whitespace-nowrap align-middle font-semibold transition-all duration-300 ease-in-out disabled:cursor-not-allowed stroke-blue-700 text-blue-700 cursor-pointer p-0 disabled:stroke-slate-400 disabled:text-slate-400 hover:stroke-blue-950 hover:text-blue-950 h-6 min-w-[24px] gap-1.5 rounded-md text-xs"
          aria-label="instagram">
          <span>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_4519_3774)">
                <path
                  d="M13.125 1.66666H6.87499C3.99851 1.66666 1.66666 3.99851 1.66666 6.87499V13.125C1.66666 16.0015 3.99851 18.3333 6.87499 18.3333H13.125C16.0015 18.3333 18.3333 16.0015 18.3333 13.125V6.87499C18.3333 3.99851 16.0015 1.66666 13.125 1.66666Z"
                  stroke="#1D4ED8" stroke-width="1.5"></path>
                <path d="M9.99999 13.3333C11.8409 13.3333 13.3333 11.8409 13.3333 9.99999C13.3333 8.15904 11.8409 6.66666 9.99999 6.66666C8.15904 6.66666 6.66666 8.15904 6.66666 9.99999C6.66666 11.8409 8.15904 13.3333 9.99999 13.3333Z" stroke="#1D4ED8"
                  stroke-width="1.5"></path>
                <path d="M14.5833 6.66666C15.2737 6.66666 15.8333 6.10701 15.8333 5.41666C15.8333 4.7263 15.2737 4.16666 14.5833 4.16666C13.893 4.16666 13.3333 4.7263 13.3333 5.41666C13.3333 6.10701 13.893 6.66666 14.5833 6.66666Z" fill="#1D4ED8">
                </path>
              </g>
              <defs>
                <clipPath id="clip0_4519_3774">
                  <rect width="20" height="20" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </span>
        </a>
        <a type="button" href="https://www.dribbble.com"
          class="group inline-flex items-center justify-center whitespace-nowrap align-middle font-semibold transition-all duration-300 ease-in-out disabled:cursor-not-allowed stroke-blue-700 text-blue-700 cursor-pointer p-0 disabled:stroke-slate-400 disabled:text-slate-400 hover:stroke-blue-950 hover:text-blue-950 h-6 min-w-[24px] gap-1.5 rounded-md text-xs"
          aria-label="dribble">
          <span>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_4519_3775)">
                <path d="M1.66666 9.99999C1.66666 14.6023 5.39761 18.3333 9.99999 18.3333C14.6023 18.3333 18.3333 14.6023 18.3333 9.99999C18.3333 5.39761 14.6023 1.66666 9.99999 1.66666C5.39761 1.66666 1.66666 5.39761 1.66666 9.99999Z" stroke="#1D4ED8"
                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M13.8938 17.3696C12.9167 11.6667 10.4167 6.6667 7.08334 2.19138" stroke="#1D4ED8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M1.72211 9.03382C5.00003 9.16666 12.7357 8.74999 15.9512 4.16666" stroke="#1D4ED8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M18.3064 10.675C12.7865 9.03391 6.25 11.6667 4.35953 16.1344" stroke="#1D4ED8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
              <defs>
                <clipPath id="clip0_4519_3775">
                  <rect width="20" height="20" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </span>
        </a>
        <a type="button" href="https://www.github.com"
          class="group inline-flex items-center justify-center whitespace-nowrap align-middle font-semibold transition-all duration-300 ease-in-out disabled:cursor-not-allowed stroke-blue-700 text-blue-700 cursor-pointer p-0 disabled:stroke-slate-400 disabled:text-slate-400 hover:stroke-blue-950 hover:text-blue-950 h-6 min-w-[24px] gap-1.5 rounded-md text-xs"
          aria-label="dribble">
          <span>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" stroke="#1D4ED8" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_4519_3776)">
                <path
                  d="M7.64959 15.8365C3.37609 17.0849 3.37609 13.7559 1.66669 13.3397M13.6325 18.3333V15.1125C13.6646 14.7156 13.6095 14.3166 13.471 13.9421C13.3324 13.5676 13.1136 13.226 12.8291 12.9402C15.5128 12.6489 18.3334 11.6585 18.3334 7.11432C18.3331 5.95233 17.8741 4.8349 17.0513 3.99331C17.441 2.9767 17.4134 1.853 16.9744 0.855643C16.9744 0.855643 15.9658 0.564348 13.6325 2.08741C11.6735 1.57041 9.60857 1.57041 7.64959 2.08741C5.31626 0.564348 4.30771 0.855643 4.30771 0.855643C3.86872 1.853 3.84117 2.9767 4.23079 3.99331C3.40184 4.84114 2.94235 5.96867 2.94874 7.13929C2.94874 11.6502 5.76925 12.6406 8.45301 12.9652C8.17182 13.2482 7.95494 13.5856 7.81652 13.9555C7.6781 14.3255 7.62123 14.7197 7.64959 15.1125V18.3333"
                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
              <defs>
                <clipPath id="clip0_4519_3776">
                  <rect width="20" height="20" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>